body{
	box-sizing: border-box;
	background-color: #808080;
	margin:0;
	height:100%;
	width:100%;
	text-align: center;
}


h1{
	font-weight: bold;
	font-size: 40px
}

.results{
height: 800px;
}


.gridButtons{
	position:relative;
	top: 120px;
}

.next{
	visibility: hidden;
	position:absolute;
	right:5%;
	bottom:5%;
}

.prev{
	visibility: hidden;
	position:absolute;
	left:5%;
	bottom:5%;
}


.js-search-results{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}

.subgrid{
	display:grid;
	grid-template-rows: 80% 20%;
	margin:auto;

}

.related{
	width:30%;
	margin:auto;
}



@media (min-width: 680px){

.js-search-results{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-left: 25%;
	margin-right: 25%;
}


.gridButtons{
	width:50%;
	margin:auto;
	top:20px;
}

.results{
	height:550px;
}


}